ion-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  * {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }

  .logo-app {
    margin-left: 10px;
  }  
  .highlight {
    font-weight: bold;
    color: #337bff;
  }