ion-card {
    margin-bottom: 550px;
}

ion-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  * {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }

  .logo-app {
    margin-left: 10px;
  }    