ion-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  * {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }

  .logo-app {
    margin-left: 10px;
  }    

  ion-button {
    --border-radius: 50px; /* Bordes redondeados */
    --background: #3880ff; /* Color de fondo */
    --color: white; /* Color del texto */
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    --padding-start: 16px; /* Espaciado interno a la izquierda */
    --padding-end: 16px; /* Espaciado interno a la derecha */
    margin-top: 10px; /* Margen superior para espaciado entre botones */
  }
  
  ion-button[expand="full"] {
    --background: #3880ff; /* Color de fondo para botones completos */
    --color: white; /* Color del texto para botones completos */
  }
  
  ion-button[color="danger"] {
    --background: #ff3b30; /* Color de fondo para el botón de cerrar sesión */
    --color: white; /* Color del texto para el botón de cerrar sesión */
  }  