ion-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  * {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }

  .logo-app {
    margin-left: 10px;
  }  


  .clases-card ion-note {
    font-size: 12px;
  }
  
  .clases-card ion-label {
    font-size: 14px;
  }

  ion-note {
    font-size: 15px;
  }

  ion-label {
    font-size: 12px;
  }
