<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <img src="assets/duoclogo.svg" class="logo-app">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item *ngIf="!areAsignaturasFinalized">
    <ion-label position="stacked">Nombre de usuario:</ion-label>
    <ion-input [(ngModel)]="username" placeholder="Ingresa tu nombre" readonly></ion-input>
  </ion-item>

  <!-- Mostrar asignaturas disponibles solo si no están finalizadas -->
  <ion-list *ngIf="!areAsignaturasFinalized">
    <ion-list-header>
      <ion-label>Asignaturas disponibles</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>{{ asignatura.nombre }}</ion-label>
      <ion-button (click)="selectAsignatura(asignatura)">Seleccionar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registerAsignaturas()" *ngIf="!areAsignaturasFinalized">
    Registrar Asignaturas
  </ion-button>

  <ion-card *ngIf="areAsignaturasFinalized" class="mis-clases-card">
    <ion-card-header>
      <ion-card-title class="titulo-clases">Mis Clases</ion-card-title>
    </ion-card-header>
  
    <ion-card *ngFor="let asignatura of clasesSeleccionadas; let i = index">
      <ion-card-header>
        <ion-card-title class="asignatura-title">
          {{ asignatura.nombre }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="card-content">
          <div class="qr-container">
            <qrcode [qrdata]="qrData[i]" class="qr-code"></qrcode>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-card>

  
</ion-content>




