<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <img src="assets/duoclogo.svg" class="logo-app">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Justificación de Inasistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="justificacionForm" (ngSubmit)="enviarJustificacion()">
        
        <ion-item>
          <ion-label position="stacked">Fecha de Inasistencia</ion-label>
          <ion-input type="date" formControlName="fecha"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Motivo de la Inasistencia</ion-label>
          <ion-textarea formControlName="motivo" placeholder="Describe el motivo de tu inasistencia (caract. min 10)" required></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Asignatura</ion-label>
          <ion-select formControlName="asignatura" required>
            <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.nombre">
              {{ asignatura.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nombre del Profesor</ion-label>
          <ion-input [value]="nombreProfesor" readonly></ion-input> <!-- Campo no editable -->
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!justificacionForm.valid">
          Enviar Justificación
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Historial de Justificaciones -->
  <ion-card *ngIf="historialJustificaciones.length > 0">
    <ion-card-header>
      <ion-card-title>Historial de Justificaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let justificacion of historialJustificaciones; let i = index">
          <ion-label>
            <h2>{{ justificacion.fecha }}</h2>
            <p><strong>Motivo:</strong> {{ justificacion.motivo }}</p>
            <p><strong>Asignatura:</strong> {{ justificacion.asignatura }}</p>
            <p><strong>Profesor:</strong> {{ justificacion.profesor }}</p>
            <p><strong>Usuario:</strong> {{ justificacion.usuario }}</p>
          </ion-label>
          <ion-button slot="end" (click)="eliminarJustificacion(i)" color="danger">
            Eliminar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
