<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <img src="assets/duoclogo.svg" class="logo-app">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
    <div style="text-align: center;">
      <ion-button (click)="register()" fill="solid" shape="round" color="primary" style="padding-bottom: 15px;">
        Registrarse
      </ion-button>
    </div>
  </ion-card>
</ion-content>